.btn {
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.btn-block {
  width: 100%;
}
.btn-coffee {
  background-color: rgb(187, 33, 33);
  color: white;
}

.btn-grey {
  background-color: #696969;
  color: white;
}
