
.icon-emo-unhappy:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e847'; } /* '' */
.icon-emo-coffee:before { content: '\e805'; } /* '' */
.icon-emo-angry:before { content: '\e80c'; } /* '' */
.icon-emo-cry:before { content: '\e80d'; } /* '' */
.icon-emo-laugh:before { content: '\e811'; } /* '' */
.icon-spin:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e820'; } /* '' */
.icon-heart-empty:before { content: '\e81f'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-star-empty:before { content: '\e81d'; } /* '' */
.icon-info-circled:before { content: '\e843'; } /* '' */
.icon-link-ext:before { content: '\e846'; } /* '' */
.icon-pin:before { content: '\e842'; } /* '' */
.icon-code-1:before { content: '\e844'; } /* '' */
.icon-comment-1:before { content: '\e835'; } /* '' */
.icon-attention-alt:before { content: '\e834'; } /* '' */
.icon-angle-left:before { content: '\e838'; } /* '' */
.icon-angle-right:before { content: '\e837'; } /* '' */
.icon-angle-up:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-angle-circled-left:before { content: '\e83a'; } /* '' */
.icon-angle-circled-right:before { content: '\e839'; } /* '' */
.icon-angle-circled-up:before { content: '\e803'; } /* '' */
.icon-angle-circled-down:before { content: '\e804'; } /* '' */
.icon-angle-double-left:before { content: '\e83b'; } /* '' */
.icon-angle-double-right:before { content: '\e83c'; } /* '' */
.icon-angle-double-up:before { content: '\e83e'; } /* '' */
.icon-angle-double-down:before { content: '\e83d'; } /* '' */
.icon-laptop:before { content: '\e83f'; } /* '' */
.icon-coffee:before { content: '\e806'; } /* '' */
.icon-emo-sleep:before { content: '\e808'; } /* '' */
.icon-plus-squared:before { content: '\e841'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-trash-2:before { content: '\e830'; } /* '' */
.icon-signal-1:before { content: '\e80f'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e845'; } /* '' */
.icon-mail:before { content: '\e817'; } /* '' */
.icon-coffee-1:before { content: '\e807'; } /* '' */
.icon-mail-2:before { content: '\e819'; } /* '' */
.icon-user-2:before { content: '\e80a'; } /* '' */
.icon-user-woman:before { content: '\e80b'; } /* '' */
.icon-export:before { content: '\e836'; } /* '' */
.icon-chat-1:before { content: '\e813'; } /* '' */
.icon-volume-off:before { content: '\e82e'; } /* '' */
.icon-volume-down:before { content: '\e831'; } /* '' */
.icon-volume-up:before { content: '\e832'; } /* '' */
.icon-signal:before { content: '\e80e'; } /* '' */
.icon-attention:before { content: '\e829'; } /* '' */
.icon-github-circled:before { content: '\e824'; } /* '' */
.icon-twitter-circled:before { content: '\e825'; } /* '' */
.icon-facebook-circled:before { content: '\e826'; } /* '' */
.icon-gplus-circled:before { content: '\e827'; } /* '' */
.icon-linkedin-circled:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-target:before { content: '\e833'; } /* '' */
.icon-signal-2:before { content: '\e810'; } /* '' */
.icon-calendar-2:before { content: '\e823'; } /* '' */
.icon-code:before { content: '\e840'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */